body {
  margin: 0;
}

.emphasis {
  color: #009bad;
}

.center {
  text-align: center;
}

.flexbox {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
}

/* nav bar section */
nav {
  background-color: #009bad;
  overflow: hidden;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

.nav-right {
  float: right;
}

.nav-left {
  float: left;
}

nav div a {
  text-decoration: none;
  color: white;
  display: inherit;
  padding: 14px 16px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

#company-logo {
  padding: 5px 16px;
}

/* hero section */
#hero {
  background: url(../assets/images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-container {
  transform: translate(40%, 45%);
  position: absolute;
}

.hero-title {
  font-size: 30px;
}

.hero-subtitle {
  font-size: 18px;
}

.cta-button {
  padding: 14px 7px;
  margin: 12px 0;
  border: none;
  border-radius: 25px;
  background-color: #009bad;
  color: white;
  width: 30%;
  font-size: 15px;
}

.cta-button:hover {
  background-color: white;
  color: black;
}

/* blog section */
#blog {
  margin: 0 auto;
  padding: 20px 8px;
}

#blog h1{
  font-size: 45px;
}

#blog .flexbox {
  justify-content: center;
}

.featuredBlog {
  padding: 0 3px;
  width: 400px;
}

.featuredBlog h3 {
  color: #009bad;
}

div a {
  text-decoration: none;
  color: inherit;
}

.blog-excerpt {
  text-align: justify;
  padding: 0 5% 0 0;
  color: #222222;
}

.read-more {
  font-weight: bold;
  color: #009bad;
  font-size: 17px;
}

.read-more a:hover {
  color: black;
}

/* footer section */
footer{
  background-color: #ddd;
  color: #222222;
  margin-top: 25px;
  padding: 10px 5%;
}

footer p{
  padding: 0;
  margin: 0;
}

/* blog article */

.blog-container {
  width: 50%;
  margin: 0 auto 80px auto;
  color: #222222;
}

.blog-container h1 {
  font-size: 45px;
}

.blog-container h2 {
  color: grey;
}

.article-details {
  padding-bottom: 12px;
}

.article-details img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.blog-image {
  width: 100%;
}

.blog-container .author-image {
  padding-right: 20px;
}

.article-details-right p {
  margin: 0;
  padding: 3px;
}

.upload-date {
  color: grey;
}

.blog-article{
  font-size: 18px;
}